body
{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

a
{
  text-decoration: none;
}

/* Стили шапки */

.main-header,
.inner-header
{
  background-color: #f7e296;
  color: #000000;
}

.header-logo,
.footer-logo
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.header-logo
{
  color: inherit;
}

.main-header .header-logo
{
  cursor: default;
}

.inner-header .header-logo:hover,
.inner-header .header-logo:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.inner-header .header-logo:active
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search
{
  background-color: #f7e296;
  border-width: 0 0 2px 0;
  border-bottom-style: solid;
  border-color: #f7e296;
  outline: none;
}

.site-search:focus
{
  border-bottom: 2px solid #000000;
}

.site-search:-ms-input-placeholder
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search::-webkit-input-placeholder,
.site-search::placeholder
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search:hover:-ms-input-placeholder
{
  color: rgba(0, 0, 0, 0.6);
}

.site-search:hover::-webkit-input-placeholder,
.site-search:hover::placeholder
{
  color: rgba(0, 0, 0, 0.6);
}

.search-button
{
  opacity: 0;
  background-color: #f7e296;
  border: 2px solid #000000;
  color: #000000;
}

.search-button:hover
{
  opacity: 1;
  color: #ffffff;
  background-color: #000000;
}

.site-search:focus+.search-button,
.search-button:focus
{
  opacity: 1;
}

.search-button:active
{
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-nav,
.order-nav,
.header-services
{
  list-style: none;
}

.user-nav a,
.order-nav a
{
  color: inherit;
}

.user-nav a:hover,
.order-nav a:hover,
.user-nav a:focus,
.order-nav a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.user-nav a:active,
.order-nav a:active,
.logout
{
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-dropdown
{
  background-color: #f7e296;
}

.main-nav-header,
.contacts a,
.header-services a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.main-nav a:hover,
.contacts a:hover,
.header-services a:hover,
.main-nav a:focus,
.contacts a:focus,
.header-services a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active,
.contacts a:active,
.header-services a:active
{
  color: rgba(0, 0, 0, 0.3);
}

.nav-column
{
  list-style: none;
}

.nav-column a
{
    color: inherit;
}

/* Стили слайдера */

.slides-list
{
  list-style: none;
}

.slides
{
  background-image: linear-gradient(180deg, #f7e296 0px, #f7e296 113px, #ffffff 113px, #ffffff 100%);
}

.slider-number
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
  color: #cccccc; /* Удалить после верстки */
}

.slider-lead
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.button
{
  display: block;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-image: linear-gradient(180deg, transparent 0, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px, transparent 40px);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button
{
  width: 220px;
}

.slider-button:hover,
.slider-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.slider-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.slider-feature-value
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.slider-feature-name
{
  font-size: 13px;
  line-height: 20px;
}

/* Стили категорий */

.categories-list
{
  list-style: none;
}

.categories-item
{
  display: inline-block;
}

.categories-item-icon
{
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.categories-item:nth-child(1) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(2) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.categories-item:nth-child(3) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(4) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(5) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(6) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item-icon:hover,
a:focus .categories-item-icon
{
  background-color: #f0c52e;
}

a:active .categories-item-icon::before
{
  content: "";
  opacity: 0.3;
}

.categories-item-name
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

a:active .categories-item-name
{
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер с услугами */

.services
{
  background-image: linear-gradient(180deg, #ffffff 0, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services-control
{
  display: none;
}

.services-buttons-list
{
  list-style: none;
  border-right: 7px solid #000000;
}

.services-button
{
  width: 160px;
}

.services-button:hover,
.services-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

#delivery:checked ~ .services-buttons-list li:nth-child(1) label,
#guarantee:checked ~ .services-buttons-list li:nth-child(2) label,
#credit:checked ~ .services-buttons-list li:nth-child(3) label
{
  color: #f7e184;
  background-image: linear-gradient(180deg, #000000 0, #000000 100px);
}

.services-list
{
  list-style: none;
}

.services-list h3
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.services-item
{
  background-repeat: no-repeat;
  background-position: top right;
}

.services-item:nth-child(1)
{
  background-image: url("../img/delivery.svg");
}

.services-item:nth-child(2)
{
  background-image: url("../img/warranty.svg");
}

.services-item:nth-child(3)
{
  background-image: url("../img/credit.svg");
}

.brand-list
{
  list-style: none;
}

.brand-list li
{
  display: inline-block;
  position: relative;
  filter: grayscale(100%) opacity(20%);
}

.brand-list li:hover
{
  filter: none;
}

/* Разделы О нас, Контакты */

.about h2,
.contacts h2,
.product-page-header
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.delivery-list
{
  list-style: none;
}

.delivery-list a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.delivery-list a::before
{
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 25px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.popup-button
{
  width: 260px;
  background-color: transparent;
  border: none;
}

.popup-button:hover,
.popup-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.popup-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

/* Стили подвала */

.footer
{
  background-color: #464646;
}

.footer-logo
{
  color: #ffc600;
}

.footer-user-nav,
.footer-order-nav
{
  list-style: none;
}

.footer-logo:hover,
.footer-logo:focus
{
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active
{
  color: rgba(255, 198, 0, 0.3);
}

.footer-user-nav a,
.footer-order-nav a
{
  color: rgba(255, 255, 255, 0.7)
}

.footer-user-nav a:hover,
.footer-order-nav a:hover,
.footer-user-nav a:focus,
.footer-order-nav a:focus
{
  color: rgba(255, 255, 255, 1)
}

.footer-user-nav a:active,
.footer-order-nav a:active
{
  color: rgba(255, 255, 255, 0.3)
}

.footer-nav
{
  list-style: none;
  text-align: center;
}

.footer-nav a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav a:hover,
.footer-nav a:focus
{
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active
{
  color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone
{
  color: #ffffff;
}

.social
{
  list-style: none;
  text-align: center;
}

.social-item
{
  display: inline-block;
}

.social-item a
{
  display: block;  
}

.social-item:nth-child(1) a::before
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/fb.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-item:nth-child(2) a::before
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-item:nth-child(3) a::before
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-item a:hover,
.social-item a:focus
{
  opacity: 0.6;
}

.social-item a:active
{
  opacity: 0.1;
}

.footer-copyright
{
  display: inline-block;
  font-size: 0;
}

.footer-copyright::before
{
  content: "";
  display: block;
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.footer-copyright:hover,
.footer-copyright:focus
{
  opacity: 0.6;
}

.footer-copyright:active
{
  opacity: 0.3;
}

.map-big,
.contacts-map
{
  background-color: #ececec;
}

.modal-close
{
  display: block;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus
{
  opacity: 1;
}

.modal-close:active
{
  opacity: 0.3;
}

.feedback-button
{
  width: 200px;
}

.feedback-button:hover,
.feedback-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.feedback-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form label
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea
{
  border: none;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.feedback-form input:hover,
.feedback-form textarea:hover
{
  background-color: #ebebeb;
}

.feedback-form input:focus,
.feedback-form textarea:focus
{
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid
{
  background-color: #fbeded;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder
{
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder,
.feedback-form input::placeholder,
.feedback-form textarea::placeholder
{
  color: rgba(70, 70, 70, 0.4);
}

/* стили внутренней страницы */

/* Хлебные крошки */

.breadcrumbs-list
{
  list-style: none;
}

.breadcrumbs-item a
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active
{
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item-current a
{
  cursor: default;
}

.breadcrumbs-item-current a:hover,
.breadcrumbs-item-current a:focus,
.breadcrumbs-item-current a:active
{
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:nth-child(n+2)::before
{
  content: "";
  display: inline-block;
  width: 4px;
  height: 9px;
  vertical-align: middle;
  background-image: url("../img/nav-arrow.svg");
  background-position: top;
  background-repeat: no-repeat;
}

/* Стили фильтра продукта */

.product-filter,
.sorting
{
  background-color: #eeeeee;
}

.product-filter h2,
.sorting h2
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.product-filter h2
{
  background-color: #dbdbdb;
}

.side-filter ul
{
  list-style: none;
}

.side-filter legend
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  border-top: 2px solid #000000;
}

.side-filter fieldset
{
  border: none;
}

.filter-price span
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.color-checkbox-list label,
.bluetooth-radio-list label
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.color-checkbox-list input:checked+label::before
{
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.color-checkbox-list input:not(:checked)+label::before
{
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.color-checkbox-list label:hover,
.color-checkbox-list label:focus
{
  opacity: 0.6;
}

.color-checkbox-list label:active
{
  opacity: 1;
}

.color-checkbox-list  input:disabled+label
{
  opacity: 0.25;
}

.bluetooth-radio-list input:checked+label::before
{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.bluetooth-radio-list input:not(:checked)+label::before
{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.bluetooth-radio-list label:hover,
.bluetooth-radio-list label:focus
{
  opacity: 0.6;
}

.bluetooth-radio-list label:active
{
  opacity: 1;
}

.bluetooth-radio-list  input:disabled+label
{
  opacity: 0.25;
}

.filter-button
{
  width: 200px;
}

.filter-button:hover,
.filter-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.filter-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

/* Стили раздела сортировки */

.sorting ul
{
  list-style: none;
}

.sorting-type a
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover,
.sorting-type a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type a:active
{
  color: rgba(0, 0, 0, 1);
}

a.sorting-button-current,
a.sorting-button-current:hover,
a.sorting-button-current:focus,
a.sorting-button-current:active
{
  color: rgba(0, 0, 0, 1);
  cursor: default;
}

.ranking-list li
{
  display: inline-block;
}

.ranking-asc a,
.ranking-desc a
{
  display: inline-block;
  border: 10px solid #231f20;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ranking-asc a
{
  border-top-width: 0;
}

.ranking-desc a
{
  border-bottom-width: 0;
}

a.ranking-current
{
  border-color: #c3c2c2 transparent;
}

.ranking-asc a:hover,
.ranking-desc a:hover,
.ranking-asc a:focus,
.ranking-desc a:focus
{
  border-color: rgba(0, 0, 0, 0.6) transparent;
}

.ranking-asc a:active,
.ranking-desc a:active
{
  border-color: rgba(0, 0, 0, 1) transparent;
}

a.ranking-current:hover,
a.ranking-current:focus,
a.ranking-current:active
{
  border-color: #c3c2c2 transparent;
}

/* Стили карточки товара */

.products-list
{
  list-style: none;
}

.products-item img
{
  background-color: #efefef;
}

.item-name
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.item-price
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #464646;
}

.item-action
{
  list-style: none;
}

.buy-button
{
  width: 200px;
}

.buy-button:hover,
.buy-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.buy-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.item-action-compare button
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item-action-compare button:hover,
.item-action-compare button:focus
{
  color: rgba(0, 0, 0, 1);
}

.item-action-compare button:active
{
  color: rgba(0, 0, 0, 0.2);
}

.new-item-label
{
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* Стили пагинации  */

.pagination
{
  background-color: #ebebeb;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.pagination a
{
  color: inherit;
}

.pagination-forward:hover,
.pagination-back:hover,
.pagination-forward:focus,
.pagination-back:focus
{
  background-color: #d9d9d9;
}

.pagination-forward:active,
.pagination-back:active
{
  color: rgba(0, 0, 0, 0.3);
}

.pagination-pages
{
  list-style: none;
}

.pagination-pages a
{
  color: rgba(0, 0, 0, 0.3);
}

.pagination-pages a:hover,
.pagination-pages a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.pagination-pages a:active
{
  color: rgba(0, 0, 0, 1);
}

a.page-current
{
  color: #000000;
  cursor: default;
}

a.page-current:hover,
a.page-current:focus
{
  color: #000000;
}
