/* Вспомогательный класс, убрать после верстки */
.show
{
  outline: 1px solid tomato;
}

.visually-hidden
{
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
  margin: 0;
	overflow: hidden;
}

.container
{
  display: flex;
  flex-wrap: wrap;
}

body
{
  min-width: 1200px;
  padding: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

a
{
  text-decoration: none;
}

img
{
  max-width: 100%;
  height: auto;
}

/* Стили шапки */

.main-header,
.inner-header
{
  width: 1160px;
  min-height: 206px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 58px 35px;
  background-image: linear-gradient(180deg, transparent 0, transparent 20px, #f7e296 20px, #f7e296 100%);
  color: #000000;
}

.header-logo,
.footer-logo
{
  display: block;
  margin-bottom: 24px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.header-logo
{
  color: inherit;
}

.main-header .header-logo
{
  cursor: default;
}

.inner-header .header-logo:hover,
.inner-header .header-logo:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.inner-header .header-logo:active
{
  color: rgba(0, 0, 0, 0.3);
}

.search-form
{
  margin-right: auto;
  margin-bottom: 35px;
  padding-left: 40px;
  position: relative;
}

.search-form::before
{
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.site-search
{
  background-color: #f7e296;
  border-width: 0 0 2px 0;
  border-bottom-style: solid;
  border-color: #f7e296;
  outline: none;
}

.site-search:focus
{
  border-bottom: 2px solid #000000;
}

.site-search:-ms-input-placeholder
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search::-webkit-input-placeholder,
.site-search::placeholder
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search:hover:-ms-input-placeholder
{
  color: rgba(0, 0, 0, 0.6);
}

.site-search:hover::-webkit-input-placeholder,
.site-search:hover::placeholder
{
  color: rgba(0, 0, 0, 0.6);
}

.search-button
{
  opacity: 0;
  background-color: #f7e296;
  border: 2px solid #000000;
  color: #000000;
}

.search-button:hover
{
  opacity: 1;
  color: #ffffff;
  background-color: #000000;
}

.site-search:focus+.search-button,
.search-button:focus
{
  opacity: 1;
}

.search-button:active
{
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-nav
{
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav a
{
  position: relative;
  padding-left: 25px;
}

.user-nav-login a::before
{
  content: "";
  position: absolute;
  top: 2px;
  left: -1px;
  width: 15px;
  height: 15px;
  background-image: url(../img/header-user.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.order-nav
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-nav a
{
  position: relative;
  padding-left: 25px;
}

.order-nav-compare a::before
{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-image: url(../img/header-compare.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.order-nav-cart a::before
{
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/header-cart.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.user-nav a,
.order-nav a
{
  color: inherit;
}

.user-nav a:hover,
.order-nav a:hover,
.user-nav a:focus,
.order-nav a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.user-nav a:active,
.order-nav a:active,
.user-nav-logout
{
  color: rgba(0, 0, 0, 0.3);
}

.main-nav
{
  position: relative;
  margin-right: auto;
}

.main-nav-dropdown
{
  position: absolute;
  display: none;
  background-color: #f7e296;
}

.header-services
{
  display: flex;
  width: 272px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.header-contacts
{
  width: 230px;
  text-align: right;
}

.main-nav-header,
.header-contacts a,
.header-services a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.main-nav-header
{
  padding-right: 30px;
}

.main-nav-header::after
{
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-nav a:hover,
.header-contacts a:hover,
.header-services a:hover,
.main-nav a:focus,
.header-contacts a:focus,
.header-services a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active,
.header-contacts a:active,
.header-services a:active
{
  color: rgba(0, 0, 0, 0.3);
}

.nav-column
{
  list-style: none;
}

.nav-column a
{
    color: inherit;
}

/* Стили слайдера */

.main
{
  width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}

.slider
{
  position: relative;
  margin-bottom: 104px;
}

.slider-control
{
  display: none;
}

.slider-label-list
{
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  bottom: 134px;
  right: 83px;
  width: 78px;
  list-style: none;
}

.slider-label label
{
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

#control-1:checked ~ .slider-label-list li label[for="control-1"],
#control-2:checked ~ .slider-label-list li label[for="control-2"],
#control-3:checked ~ .slider-label-list li label[for="control-3"]
{
  background-image: radial-gradient(transparent 1px, #000000 1px, #000000 2px, transparent 2px, transparent 100%);
}

#control-1:checked ~ .slides-list .slide-1,
#control-2:checked ~ .slides-list .slide-2,
#control-3:checked ~ .slides-list .slide-3
{
  display: flex;
}

.slides-list
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides
{
  display: none;
  min-height: 490px;
  background-image: linear-gradient(180deg, #f7e296 0px, #f7e296 113px, #ffffff 113px, #ffffff 100%);
}

.slides img
{
  margin: auto;
}

.slide-container
{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 560px;
  padding-left: 34px;
  padding-top: 34px;
}

.slider-number
{
  position: absolute;
  right: 46px;
  top: 62px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 179px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slider-lead
{
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
}

.slides-promo
{
  margin-bottom: 42px;
  padding-right: 70px;
}

.button
{
  display: block;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-image: linear-gradient(180deg, transparent 0, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px, transparent 40px);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-button
{
  width: 220px;
}

.slider-button:hover,
.slider-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.slider-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.slider-feature
{
  margin-top: auto;
  padding-bottom: 7px;
  padding-left: -3px;
}

.slider-feature-value
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.slider-feature-name
{
  font-size: 13px;
  line-height: 23px;
}

.slider-feature-column-1
{
  width: 155px;
}

.slider-feature-column-2
{
  width: 135px;
}

/* Стили категорий */

.categories-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 81px;
  padding: 0;
  list-style: none;
}

.categories-icon
{
  display: block;
  width: 160px;
  line-height: 24px;
}

.categories-icon::before
{
  content: "";
  display: block;
  height: 160px;
  margin-bottom: 33px;
  background-color: #f7e296;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-vr::before
{
  background-image: url("../img/popular-1.svg");
}

.icon-monopod::before
{
  background-image: url("../img/popular-2.svg");
  background-position: bottom center;
}

.icon-camera::before
{
  background-image: url("../img/popular-3.svg");
}

.icon-bracelet::before
{
  background-image: url("../img/popular-4.svg");
}

.icon-watch::before
{
  background-image: url("../img/popular-5.svg");
}

.icon-quadro::before
{
  background-image: url("../img/popular-6.svg");
}

.categories-icon:hover::before,
.categories-icon:focus::before
{
  background-color: #f0c52e;
}

.categories-icon:active::before
{
  content: "";
  opacity: 0.3;
}

.categories-item-name
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
}

a:active .categories-item-name
{
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер с услугами */

.services
{
  display: flex;
  flex-wrap: wrap;
  min-height: 320px;
  background-image: linear-gradient(180deg, #ffffff 0, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services-control
{
  display: none;
}

.services-buttons-list
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 277px;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 70px;
  border-right: 7px solid #000000;
  list-style: none;
}

.services-buttons-list li
{
  display: flex;
  justify-content: flex-start;
}

.services-button
{
  padding-left: 20px;
  padding-right: 20px;
  min-width: 120px;
}

.services-button:hover,
.services-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

#delivery:checked ~ .services-buttons-list .services-button-delivery label,
#guarantee:checked ~ .services-buttons-list .services-button-guarantee label,
#credit:checked ~ .services-buttons-list .services-button-credit label
{
  color: #f7e184;
  background-image: linear-gradient(180deg, #000000 0, #000000 100px);
}

#delivery:checked ~ .services-buttons-list .services-button-delivery,
#guarantee:checked ~ .services-buttons-list .services-button-guarantee,
#credit:checked ~ .services-buttons-list .services-button-credit
{
  background-color: #000000;
}

.services-list
{
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-top: 73px;
  list-style: none;
}

#delivery:checked ~ .services-list .services-delivery,
#guarantee:checked ~ .services-list .services-guarantee,
#credit:checked ~ .services-list .services-credit
{
  display: block;
}

.services-list h3
{
  margin: 0;
  margin-bottom: 30px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #000000;
}

.services-item
{
  display: none;
  background-repeat: no-repeat;
  background-position: 89.4% 36%;
}

.services-delivery
{
  background-image: url("../img/delivery.svg");
}

.services-guarantee
{
  background-image: url("../img/warranty.svg");
}

.services-credit
{
  background-image: url("../img/credit.svg");
}

.services-description
{
  width: 460px;
  padding-bottom: 30px;
}

.brand-list
{
  list-style: none;
}

.brand-list li
{
  display: inline-block;
  position: relative;
  filter: grayscale(100%) opacity(20%);
}

.brand-list li:hover
{
  filter: none;
}

/* Разделы О нас, Контакты */

.about h2,
.contacts h2,
.product-page-header
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.delivery-list
{
  list-style: none;
}

.delivery-list a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.delivery-list a::before
{
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 25px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.popup-button
{
  width: 260px;
  background-color: transparent;
  border: none;
}

.popup-button:hover,
.popup-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.popup-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

/* Стили подвала */

.footer
{
  background-color: #464646;
}

.footer-logo
{
  color: #ffc600;
}

.footer-user-nav,
.footer-order-nav
{
  list-style: none;
}

.footer-logo:hover,
.footer-logo:focus
{
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active
{
  color: rgba(255, 198, 0, 0.3);
}

.footer-user-nav a,
.footer-order-nav a
{
  color: rgba(255, 255, 255, 0.7)
}

.footer-user-nav a:hover,
.footer-order-nav a:hover,
.footer-user-nav a:focus,
.footer-order-nav a:focus
{
  color: rgba(255, 255, 255, 1)
}

.footer-user-nav a:active,
.footer-order-nav a:active
{
  color: rgba(255, 255, 255, 0.3)
}

.footer-nav
{
  list-style: none;
  text-align: center;
}

.footer-nav a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav a:hover,
.footer-nav a:focus
{
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active
{
  color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone
{
  color: #ffffff;
}

.social
{
  list-style: none;
  text-align: center;
}

.social-item
{
  display: inline-block;
}

.social-item a
{
  display: block;
}

.social-facebook a::before
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/fb.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-instagram a::before
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/instagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-twitter a::before
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-item a:hover,
.social-item a:focus
{
  opacity: 0.6;
}

.social-item a:active
{
  opacity: 0.1;
}

.footer-copyright
{
  display: inline-block;
  font-size: 0;
}

.footer-copyright::before
{
  content: "";
  display: block;
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.footer-copyright:hover,
.footer-copyright:focus
{
  opacity: 0.6;
}

.footer-copyright:active
{
  opacity: 0.3;
}

.map-big,
.contacts-map
{
  background-color: #ececec;
}

.modal-close
{
  display: block;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus
{
  opacity: 1;
}

.modal-close:active
{
  opacity: 0.3;
}

.feedback-button
{
  width: 200px;
}

.feedback-button:hover,
.feedback-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.feedback-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form label
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea
{
  border: none;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.feedback-form input:hover,
.feedback-form textarea:hover
{
  background-color: #ebebeb;
}

.feedback-form input:focus,
.feedback-form textarea:focus
{
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid
{
  background-color: #fbeded;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder
{
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder,
.feedback-form input::placeholder,
.feedback-form textarea::placeholder
{
  color: rgba(70, 70, 70, 0.4);
}

/* стили внутренней страницы */

/* Хлебные крошки */

.breadcrumbs-list
{
  list-style: none;
}

.breadcrumbs-item a
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active
{
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item-current a
{
  cursor: default;
}

.breadcrumbs-item-current a:hover,
.breadcrumbs-item-current a:focus,
.breadcrumbs-item-current a:active
{
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:nth-child(n+2)::before
{
  content: "";
  display: inline-block;
  width: 4px;
  height: 9px;
  vertical-align: middle;
  background-image: url("../img/nav-arrow.svg");
  background-position: top;
  background-repeat: no-repeat;
}

/* Стили фильтра продукта */

.product-filter,
.sorting
{
  background-color: #eeeeee;
}

.product-filter h2,
.sorting h2
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.product-filter h2
{
  background-color: #dbdbdb;
}

.side-filter ul
{
  list-style: none;
}

.side-filter legend
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  border-top: 2px solid #000000;
}

.side-filter fieldset
{
  border: none;
}

.filter-price span
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.color-checkbox-list label,
.bluetooth-radio-list label
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.color-checkbox-list input:checked+label::before
{
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.color-checkbox-list input:not(:checked)+label::before
{
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.color-checkbox-list label:hover,
.color-checkbox-list label:focus
{
  opacity: 0.6;
}

.color-checkbox-list label:active
{
  opacity: 1;
}

.color-checkbox-list  input:disabled+label
{
  opacity: 0.25;
}

.bluetooth-radio-list input:checked+label::before
{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.bluetooth-radio-list input:not(:checked)+label::before
{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.bluetooth-radio-list label:hover,
.bluetooth-radio-list label:focus
{
  opacity: 0.6;
}

.bluetooth-radio-list label:active
{
  opacity: 1;
}

.bluetooth-radio-list  input:disabled+label
{
  opacity: 0.25;
}

.filter-button
{
  width: 200px;
}

.filter-button:hover,
.filter-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.filter-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

/* Стили раздела сортировки */

.sorting ul
{
  list-style: none;
}

.sorting-type a
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover,
.sorting-type a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type a:active
{
  color: rgba(0, 0, 0, 1);
}

a.sorting-button-current,
a.sorting-button-current:hover,
a.sorting-button-current:focus,
a.sorting-button-current:active
{
  color: rgba(0, 0, 0, 1);
  cursor: default;
}

.ranking-list li
{
  display: inline-block;
}

.ranking-asc a,
.ranking-desc a
{
  display: inline-block;
  border: 10px solid #231f20;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ranking-asc a
{
  border-top-width: 0;
}

.ranking-desc a
{
  border-bottom-width: 0;
}

a.ranking-current
{
  border-color: #c3c2c2 transparent;
}

.ranking-asc a:hover,
.ranking-desc a:hover,
.ranking-asc a:focus,
.ranking-desc a:focus
{
  border-color: rgba(0, 0, 0, 0.6) transparent;
}

.ranking-asc a:active,
.ranking-desc a:active
{
  border-color: rgba(0, 0, 0, 1) transparent;
}

a.ranking-current:hover,
a.ranking-current:focus,
a.ranking-current:active
{
  border-color: #c3c2c2 transparent;
}

/* Стили карточки товара */

.products-list
{
  list-style: none;
}

.products-item img
{
  background-color: #efefef;
}

.item-name
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.item-price
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #464646;
}

.item-action
{
  list-style: none;
}

.buy-button
{
  width: 200px;
}

.buy-button:hover,
.buy-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.buy-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.item-action-compare button
{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item-action-compare button:hover,
.item-action-compare button:focus
{
  color: rgba(0, 0, 0, 1);
}

.item-action-compare button:active
{
  color: rgba(0, 0, 0, 0.2);
}

.new-item-label
{
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* Стили пагинации  */

.pagination
{
  background-color: #ebebeb;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.pagination a
{
  color: inherit;
}

.pagination-forward:hover,
.pagination-back:hover,
.pagination-forward:focus,
.pagination-back:focus
{
  background-color: #d9d9d9;
}

.pagination-forward:active,
.pagination-back:active
{
  color: rgba(0, 0, 0, 0.3);
}

.pagination-pages
{
  list-style: none;
}

.pagination-pages a
{
  color: rgba(0, 0, 0, 0.3);
}

.pagination-pages a:hover,
.pagination-pages a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.pagination-pages a:active
{
  color: rgba(0, 0, 0, 1);
}

a.page-current
{
  color: #000000;
  cursor: default;
}

a.page-current:hover,
a.page-current:focus
{
  color: #000000;
}
