body
{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

a
{
  text-decoration: none;
}

header
{
  background-color: #f7e296;
  color: #000000;
}

.header-logo,
.footer-logo
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.header-logo
{
  color: inherit;
}

.main-header .header-logo
{
  cursor: default;
}

.inner-header .header-logo:hover,
.inner-header .header-logo:focus,
.footer-logo:hover,
.footer-logo:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.inner-header .header-logo:active,
.footer-logo:active
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search
{
  background-color: #f7e296;
  border-width: 0 0 2px 0;
  border-bottom-style: solid;
  border-color: #f7e296;
  outline: none;
}

.site-search:focus
{
  border-bottom: 2px solid #000000;
}

.site-search:-ms-input-placeholder
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search::-webkit-input-placeholder,
.site-search::placeholder
{
  color: rgba(0, 0, 0, 0.3);
}

.site-search:hover:-ms-input-placeholder
{
  color: rgba(0, 0, 0, 0.6);
}

.site-search:hover::-webkit-input-placeholder,
.site-search:hover::placeholder
{
  color: rgba(0, 0, 0, 0.6);
}

.search-button
{
  opacity: 0;
  background-color: #f7e296;
  border: 2px solid #000000;
  color: #000000;
}

.search-button:hover
{
  opacity: 1;
  color: #ffffff;
  background-color: #000000;
}

.site-search:focus+.search-button,
.search-button:focus
{
  opacity: 1;
}

.search-button:active
{
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-nav,
.order-nav,
.header-services
{
  list-style: none;
}

.user-nav a,
.order-nav a
{
  color: inherit;
}

.user-nav a:hover,
.order-nav a:hover,
.user-nav a:focus,
.order-nav a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.user-nav a:active,
.order-nav a:active,
.user-nav .logout
{
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-dropdown
{
  background-color: #f7e296;
}

.main-nav-header,
.contacts a,
.header-services a
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.main-nav a:hover,
.contacts a:hover,
.header-services a:hover,
.main-nav a:focus,
.contacts a:focus,
.header-services a:focus
{
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active,
.contacts a:active,
.header-services a:active
{
  color: rgba(0, 0, 0, 0.3);
}

.nav-column
{
  list-style: none;
}

.nav-column a
{
    color: inherit;
}

.slides-list
{
  list-style: none;
}

.slides
{
  background-image: linear-gradient(180deg, #f7e296 0px, #f7e296 113px, #ffffff 113px, #ffffff 100%);
}

.slider-number
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
  color: #cccccc; /* Удалить после верстки */
}

.slider-lead
{
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slider-button
{
  display: block;
  width: 220px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-image: linear-gradient(180deg, #ffffff 0, #ffffff 16px, #f0c52e 16px, #f0c52e 24px, #ffffff 24px, #ffffff 40px);
}

.slider-button:hover,
.slider-button:focus
{
  background-image: linear-gradient(180deg, #f0c52e 0, #f0c52e 100px);
}

.slider-button:active
{
  color: rgba(0, 0, 0, 0.3);
}

.slider-feature-value
{
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.slider-feature-name
{
  font-size: 13px;
  line-height: 20px;
}

.categories-list
{
  list-style: none;
}

.categories-item
{
  display: inline-block;
}

.categories-item-icon
{
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.categories-item:nth-child(1) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(2) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.categories-item:nth-child(3) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(4) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(5) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item:nth-child(6) .categories-item-icon::before
{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories-item-icon:hover,
.categories-item-icon:focus
{
  background-color: #f0c52e;
}

.categories-item a:active .categories-item-icon::before
{
  content: "";
  filter: opacity(30%);
}
